<%= javascript_include_tag 'forecast_form' %>

<div class="forecast-container">
  <h1 class="forecast-title">Forecast Lookup</h1>

  <%= form_with url: main_app.api_v1_forecasts_path(format: :json), method: :get, local: true, html: { id: "forecast-form" }, class: "forecast-form" do |f| %>
    <div class="forecast-form-grid">
      <input type="text" name="address[street]" placeholder="Street" />
      <input type="text" name="address[city]" placeholder="City" />
      <input type="text" name="address[state]" placeholder="State" />
      <input type="text" name="address[zip]" placeholder="Zip" />
      <%= f.select :unit, [["Unit System", ""], ["Metric", "metric"], ["Imperial", "imperial"]], {} %>
      <%= f.number_field :days, min: 1, max: 14, placeholder: "Days" %>
    </div>
    <%= f.submit "Get Forecast", class: "btn btn-primary mt-4" %>
  <% end %>

  <div id="forecast_results" class="forecast-results">
    <!-- Results will render here -->
  </div>
</div>
